<form method="post" action="{{ path('referencia_libro_delete', {'id': referencia_libro.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ referencia_libro.id) }}">
    <button class="btn">Delete</button>
</form>
